:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
    --menu-transition: ease-in-out 0.5s;
}

#container {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    transition: var(--menu-transition);
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
    transition: var(--menu-transition);
}

#menu::before {
    left: 0;
    top: -20px;
}

#menu::after {
    left: 0;
    top: 20px;
}

/*Target top line to move*/
#container:hover #menu::before {
    transform: rotate(45deg);
    top: 0;
}
/*Target bottom line to move*/
#container:hover #menu::after {
    transform: rotate(-45deg);
    top: 0;
}
/*Target middle line to disappear*/
#container:hover #menu {
    background-color: transparent;
}